.embedded-form .ask-form-option {
  line-height: 1!important;
}

.form-toggle-button {
  color: #fff;
}

.emojis-group-container .emoji-container:focus {
  outline-color: hsla(0,0%,60%,.1);
}

.emojis-group-container .emoji-container.selected .emoji-label,
.emojis-group-container .emoji-container:focus .emoji-label,
.emojis-group-container .emoji-container:hover .emoji-label {
  font-size: .7em;
}

.emojis-group-container .emoji-container.selected .emoji-label {
  font-weight: 700;
}

.emojis-group-container .emoji-label {
  font-size: .8em;
}

.letter div {
  font-family: Georgia,serif;
}

.letter p {
  line-height: 1.5;
}

.letter .achieve {
  font-weight: 700;
}

.letter .btn {
  color: #616161;
}

@media only screen and (min-width:40em) {

  .letter div p {
    font-size: 1.1em;
  }
}

.topic-bar-chart .note {
  font-style: italic;
}

.topic-bar-chart .topic-bar-container {
  background-color: #bbb;
}

.topic-bar-chart .topic-bar {
  background-color: #838383;
}

.topic-bar-chart .bar-group.selected,
.topic-bar-chart .bar-group:focus,
.topic-bar-chart .bar-group:hover {
  outline-color: hsla(0,0%,60%,.1);
}

.topic-bar-chart .bar-group.selected .topic-bar,
.topic-bar-chart .bar-group:focus .topic-bar,
.topic-bar-chart .bar-group:hover .topic-bar {
  background-color: orange;
}

.emoji-bar-chart .selectedTopic {
  font-weight: 700;
}

.emoji-bar-chart .emoji-bar-wrapper .emoji-bar-container.enabled {
  outline-color: hsla(0,0%,60%,.1);
}

.emoji-bar-chart .emoji-bar-wrapper .emoji-bar-container .bar .inner-bar {
  background-color: #bbb;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

input {
  line-height: normal;
}

optgroup {
  font-weight: 700;
}

.chart .axis-label {
  font-size: 11px;
}

.chart .highlight-x,
.chart .highlight-y {
  font-size: 10px;
  font-weight: 500;
}

.chart .x-axis,
.chart .y-axis {
  font-size: 10px;
}

body {
  color: #4a4a4a;
  font-family: Roboto,sans-serif;
  font-size: 17px;
}

input,
select {
  background-color: #282828;
  border-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.1em;
  font-weight: 400;
}

.btn {
  color: #fff;
  font-size: 1.05em;
}

.footer a {
  color: #4a90e2;
}

button {
  background-color: transparent;
}