/*
 * Shared emoji attributes
 */

$small-emoji-size: 32px;

/*
 * Shared color styles across components
 */

$lightgrey: #eaeaea;
$lightmedgrey: #ddd;
$medgrey: #bbb;
$darkgrey: #838383;
$select: orange;
$highlight: #F38630;

$bluebutton: #4a90e2;
