/*
 * Shared emoji attributes
 */

$small-emoji-size: 32px;

/*
 * Shared color styles across components
 */

$lightgrey: #eaeaea;
$lightmedgrey: #ddd;
$medgrey: #bbb;
$darkgrey: #838383;
$highlight: orange;

$bluebutton: #4a90e2;
