@import '../shared/shared';

.form-container {
  // Match .container
  margin: auto;
  width: 92% !important;
  max-width: 850px;

  &.open {
    .form-toggle-button {
      background: #d9d9d9; // grey
    }
    .embedded-form {
      transition: max-height 1s;

      header + div {
        display: block;
      }
    }
  }

  header {
    display: none !important;
  }
}

.embedded-form {
  overflow: hidden;
  background: #f5f5f5;
  margin-top: 1em;

  li {
    background: #f5f5f5 !important;
  }

  // This class enables transitions and is only added after the form has been
  // initially rendered
  &.active {
    transition: max-height 1s;
  }

  header {
    // Override inline styles
    padding: 0 !important;
  }

  // Necessarily tightly coupled to Ask form markup
  header + div {
    margin-top: 1em;
    display: none;
  }

  // container for the answers
  fieldset > div {
    margin-top: 10px;
  }

  // multiple choice options
  .ask-form-option {
    background: $lightmedgrey !important;
    border: none !important;
    display: inline-block !important;
    float: left !important;
    width: auto !important;
    padding: 3px 18px !important;
    border-radius: 3em !important;
    line-height: 2em !important;

    &:hover {
      background: $medgrey !important;
    }

    img.emoji {
      display: inline-block;
      width: 1.65em;
      margin-bottom: -8px;
      margin-left: 2px;
    }
  }

  .submit-button {
    border-radius: 30px !important;
    background: $bluebutton !important;
  }
}

.form-toggle-button {
  background: #4a90e2;
  border-radius: 3em;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  margin: 1em 0;
}
