@import '../shared/shared';

.form-container {
  // Match .container
  margin: auto;
  width: 92% !important;
  max-width: 850px;
  padding: 1em;
}

.form-container.open {
  .form-toggle-button {
    background: #d9d9d9; // grey
  }
  .embedded-form {
    transition: max-height 1s;

    header + div {
      display: block;
    }
  }
}

.form-toggle-button-container {
  margin: auto;
  max-width: 850px;
  width: 92%
}

.form-toggle-button-container {
  margin-bottom: 2em;
}

.embedded-form {
  overflow: hidden;
  background: white;
  margin-top: 1em;

  li {
    background: white !important;
    padding: 1em !important;
  }

  // This class enables transitions and is only added after the form has been
  // initially rendered
  &.active {
    transition: max-height 1s;
  }

  header {
    // Override inline styles
    padding: 0 !important;
  }

  // Necessarily tightly coupled to Ask form markup
  header + div {
    margin-top: 1em;
    display: none;
  }

  // container for the answers
  fieldset > div {
    margin-top: 10px;
  }

  // multiple choice options
  .ask-form-option {
    background: $lightmedgrey !important;
    border: none !important;
    display: inline-block !important;
    float: left !important;
    width: auto !important;

/*    padding: 3px 18px !important;
    border-radius: 3em !important;
    line-height: 2em !important;
*/
    padding: .75em 1em !important;
    border-radius: 3em !important;
    line-height: 1 !important;

    &:hover {
      background: $medgrey !important;
    }

    img.emoji {
      display: inline-block;
      width: 1.65em;
      margin-bottom: -8px;
      margin-left: 2px;
    }
  }

  .submit-button {
    border-radius: 30px !important;
    background: $bluebutton !important;
  }
}

.form-toggle-button {
  background: #4a90e2;
  border-radius: 3em;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  margin: 1em 0;
}

#MultipleChoice--2 label {
  width: 100% !important;
  text-align: center !important;
}


@media only screen and (min-width: 25em) {
  #MultipleChoice--2 label {
    width: initial !important;
  }
}

@media only screen and (min-width: 25em) {
  .form-container header, #ask-form > div > div > div {
    margin: auto;
    width: 92%;
  }

  .embedded-form li {
    padding: 2em;
  }
}

@media only screen and (min-width: 40em) {
  .form-container header {
    padding: 2.5em 2.5em 0 ;
  }

  .embedded-form li {
    padding: 2.5em !important;
  }
}
