.emoji-grid-container {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 0px;

  .emoji-cell {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
  }
}
