$emoji-pop-in-transition-timing: cubic-bezier(0.960, -0.115, 0.480, 1.625);

.filter-by-feeling {
  border-bottom: 6px solid white;
  padding-bottom: 2em;
}

.emojis-bubble-chart {
  margin-bottom: 2em
}

.emojis-group-container {
  position: relative;
  margin-bottom: 20px;

  .emoji-container {
    position: absolute;
    cursor: pointer;
    text-align: center;
    transition: width 200ms, height 200ms;

    &::-moz-focus-inner {
      border: 0;
    }

    &:focus, &:active {
      outline: 0;
      border: 0;
    }

    > img {
      max-width: 90%;
    }

    &.visible {
      .emoji-image {
        margin: 0;
      }
      .emoji-label {
        opacity: 1;
        font-size: 0.8em;
      }
    }

    &:hover,
    &.selected {
      .emoji-image {
        margin: -3px;
        transition: margin 200ms;
      }
      .emoji-label {
        top: 100%;
        font-size: 0.7em;
        transition: top 200ms, font-size 200ms;
      }
    }
  }

  .emoji-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: margin 550ms $emoji-pop-in-transition-timing;
    transition-timing-function: $emoji-pop-in-transition-timing;
    // Completely hide the image by default by compressing it down to no space
    margin: 50%;
  }

  .emoji-label {
    position: absolute;
    margin: auto;
    top: 98%;
    left: 0;
    width: 100%;
    display: inline-block;
    transition: top 200ms, font-size 200ms, opacity 200ms;
    // Completely hide the label by default; label & image are revealed by adding
    // a class to the parent container element
    opacity: 0;
    font-size: 0;
  }
}

@media only screen and (min-width: 47em) {
  .emojis-bubble-chart {
    width: 50%;
    float: left;
  }
}
