/*
Most of the CSS in this file is related to the staggered pop-in transition
we use to reveal the emoji.

The DOM structure is this:

  div.emojis-group-container
    button.emoji-container
      span.emoji-image
        img src="emoji.svg"
      span.emoji-label

When rendered, .emoji-container elements are .pop-in.hidden; these classes
are removed by d3 in componentDidUpdate following the first render. The .hidden
class applies the CSS rules to make the emoji start out invisibly small; the
.pop-in class adds the longer, more cartoony CSS transition timing needed for
the pop-in effect to look its best.

Removing the .hidden class allows the default sizing rules to apply, causing
the emoji to zoom in and the text to fade in below. Once the initial transition
is complete for all elements the .pop-in class is also removed, so that the
more-boring-but-more-predictable default CSS transition timing is in play for
hover-over effects.

Absolute positioning is used to mitigate cross-browser inconsistencies that we
encountered with margins, and so that the "hit box" of the percentage labels can
be shrunk laterally & z-indexed behind other emoji to prevent mis-click errors.
*/
$emoji-pop-in-timing: cubic-bezier(.75,.05,.33,1.38);

.filter-by-feeling {
  border-bottom: 6px solid white;
  padding-bottom: 2em;
}

.emojis-bubble-chart {
  margin-bottom: 2em
}

.emojis-group-container {
  margin-bottom: 20px;
  position: relative;
  width: 100%;

  .emoji-container {
    position: absolute;
    cursor: pointer;
    text-align: center;

    &::-moz-focus-inner {
      border: 0;
    }

    &:active {
      border: 0;
      outline: 0;
    }
    &:focus {
      border: 0;
      outline-width: 1px;
      outline-color: rgba(153,153,153,0.1);
    }

    &:hover,
    &:focus,
    &.selected {
      .emoji-image {
        img {
          max-width: 100%;
          // Speed at which the element animates into selected state
          transition: max-width 100ms;
        }
        margin-bottom: -3%;
      }
      .emoji-label {
        top: 100%;
        font-size: 0.7em;
        // Speed at which the element animates into selected state
        transition: top 100ms, font-size 100ms;
      }
    }
    &.selected {
      outline: 0;
      .emoji-label {
        font-weight: bold;
      }
    }
  }

  .emoji-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    z-index: 10;
    img {
      max-width: 96%;
      // speed at which the element returns to normal
      transition: max-width 200ms;
    }
  }

  .emoji-label {
    pointer-events: none;
    position: absolute;
    display: block;
    top: 96%;
    left: 50%;
    width: 3em;
    margin-left: -1.5em;
    opacity: 1;
    z-index: 0;
    font-size: 0.8em;
    // speed at which the element returns to normal
    transition: opacity 200ms, font-size 100ms;
  }

  .hidden {
    .emoji-image {
      img {
        // Completely hide the image by default by compressing it down to no space
        max-width: 1px;
      }
    }
    .emoji-label {
      // Completely hide the label by default; label & image are revealed by adding
      // a class to the parent container element
      opacity: 0;
    }
  }

  .pop-in {
    .emoji-image {
      img {
        transition: max-width 550ms $emoji-pop-in-timing;
        transition-timing-function: $emoji-pop-in-timing;
      }
    }
    .emoji-label {
      transition: opacity 200ms 350ms;
    }
  }
}

@media only screen and (min-width: 47em) {
  .emojis-bubble-chart {
    width: 50%;
    float: left;
    padding-right: 45px;
  }
}
