@import '../shared/shared.scss';

.emoji-bar-chart {
  width: 100%;
  margin-bottom: 20px;

  .selectedTopic {
    font-weight: bold;
  }

  .emoji-bar-wrapper {
    text-align: center;
    overflow: auto;

    .emoji-bar-container {
      display: inline-block;
      width: 20%;
      outline-width: 0;

      &.enabled {
        cursor: pointer;

        // Keyboard nav
        outline-width: 1px;
        outline-color: rgba(153,153,153,0.1);
        outline-offset: -1px;

      }

      .bar {
        position: relative;

        .inner-bar {
          position: absolute;
          bottom: 0;
          background-color: $medgrey;
          left: 0 !important;
          right: 0;
          margin: auto;
        }
      }

      .emoji {
        width: $small-emoji-size;
        margin: .25em auto 0;
      }

      .label {
        text-align: center;
      }

      &:focus,
      &:hover {
        outline: 0;
        .inner-bar {
          background-color: $highlight;
        }
      }

      &.selected {
        outline: 0;
        .inner-bar {
          background-color: $select;
        }
      }
    }

    @media only screen and (min-width: 31em) {
      .emoji-bar-container {
        width: 15%;
      }
    }

    @media only screen and (min-width: 40em) {
      .emoji-bar-container {
        width: 11%;
      }
    }

  }
}
