.emojis-bubble-chart {
  position: relative;

  .emoji {
    position: absolute;
    cursor: pointer;
    transition: width 200ms, height 200ms;
  }

  .emoji-label {
    position: absolute;
    text-align: center;
  }
}

