.letter {

  .letter-content {
    background: white;
    padding: 1.5em 1em;
    box-shadow: -8px 9px 0px #e8e8e8;
    font-family: 'Georgia', serif;
    margin-bottom: 2em;
  }

  p {
     line-height: 1.5;
  }

  .emoji {
    height: 30px;
    vertical-align: bottom;
  }

  .achieve {
    font-weight: bold;
  }

  .btn {
    background: #D9D9D9;
    color: #616161;
    display: block;
    margin: 1em auto 0;
    margin-top: 0px;
    margin-bottom: 1em;
  }

  .btn:hover {
    background: #cccccc;
  }

  .btn .emoji {
    margin-bottom: -3px;
  }
}

@media only screen and (min-width: 25em) {
  .letter .letter-content {
    padding: 2em;
  }
}

@media only screen and (min-width: 40em) {
  .letter .letter-content {
    padding: 3em 3em;

    p {
      font-size: 1.1em;
    }
  }
}

@media only screen and (min-width: 47em) {

  .letter {
    width: 50%;
    float: right;
    div {
      min-height: 450px;
    }
  }
}
