.letter {
  background: white;
  padding: 1.5em 1em;

  .emoji {
    width: 20px;
    height: 20px;
  }

  .achieve {
    font-weight: bold;
  }
}

@media only screen and (min-width: 31em) {  
  .letter {
    padding: 2em;
  }
}

@media only screen and (min-width: 40em) {  
  .letter {
    padding: 4em 3em;
  }
}