@import '../shared/shared.scss';

.topic-bar-chart {

  .bar-group-container {
    margin: 20px 10px;
    background-color: $lightgrey;
    padding: 10px;
  }

  .note {
    display: block;
    font-style: italic;
    text-align: right;
    margin-bottom: 10px;

    img {
      height: 1.5em;
      display: inline-block;
      vertical-align: top;
    }
  }

  .bar-group {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
  }

  .topic-name {
    display: inline-block;
    float: left;
  }

  .percentage {
    display: inline-block;
    float: right;
    text-align: right;
  }

  .topic-bar-container {
    clear: both;
    background-color: #bbb;
  }

  .topic-bar {
    background-color: $darkgrey;
    height: 20px;
    transition: width 200ms;
  }

  .bar-group:hover {

    .topic-bar {
      background-color: $highlight;
    }
  }
}
