@import '../shared/shared.scss';

.topic-bar-chart {
  border-top: 6px solid white;

  .note {
    display: block;
    font-style: italic;
    text-align: right;
    margin-bottom: 10px;

    img {
      height: 1.5em;
      display: inline-block;
      vertical-align: top;
    }
  }

  .bar-group {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    margin-bottom: .9em;
  }

  @media only screen and (min-width: 48em) { 
    .bar-group {
      width: 48%;
    }

    .bar-group:nth-child(odd) {
      float: right;
    }
  }

  .topic-detail-container {
    overflow: auto;
    margin-bottom: .2em;
  }

  .topic-name {
    display: inline-block;
    float: left;
  }

  .percentage {
    display: inline-block;
    float: right;
    text-align: right;
  }

  .topic-bar-container {
    clear: both;
    background-color: #bbb;
  }

  .topic-bar {
    background-color: $darkgrey;
    height: 20px;
    transition: width 200ms;
  }

  .bar-group:hover {

    .topic-bar {
      background-color: $highlight;
    }
  }
}
