@import '../shared/shared.scss';

.topic-bar-chart {

  .note {
    display: block;
    font-style: italic;
    text-align: right;
    margin-bottom: 10px;

    img {
      height: 1.5em;
      display: inline-block;
      vertical-align: top;
    }
  }

  .bar-group {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    margin-bottom: .9em;
  }

  .topic-detail-container {
    overflow: auto;
    margin-bottom: .2em;
  }

  .topic-name {
    display: inline-block;
    float: left;
  }

  .percentage {
    display: inline-block;
    float: right;
    text-align: right;
  }

  .topic-bar-container {
    clear: both;
    background-color: #bbb;
  }

  .topic-bar {
    background-color: $darkgrey;
    height: 20px;
    transition: width 200ms;
  }

  .bar-group {
    &.selected,
    &:focus,
    &:hover {
      outline-width: 1px;
      outline-color: rgba(153,153,153,0.1);

      .topic-bar {
        background-color: $highlight;
      }
    }
    &.selected {
      outline: 0;
    }
  }
}

@media only screen and (min-width: 47em) {
  .topic-bar-chart {
    width: 50%;
    float: left;
    padding-right: 3em;
  }
}

