@import './skeleton/normalize.css';
@import './charts.scss';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #4A4A4A;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: .01em;
}

input, select {
  background-color: #282828;
  border-color: transparent;
}

h1, h2, h3, h4 {
  margin: 0 0 .75em;
  font-weight: bold;
}

h3 { 
  font-size: 1.75em;
}

h5 {
  margin: 0 0 .75em;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: .01em;
}

p {
  margin-bottom: 1em;
}

.intro-container, .container {
  max-width: 850px;
  padding: 0;
}

.container {
  background: #F5F5F5;
}

.intro-container > div, .container > div {
  padding: 1em; 
}

@media only screen and (min-width: 25em) {
  .intro-container, .container {
    margin: auto;
    width: 92%;
  }

  .container > div, .intro-container > div {
    padding: 2em;  
  }
}

@media only screen and (min-width: 40em) {

  .container > div, .intro-container > div {
    padding: 2.5em;  
  }
}

@media only screen and (min-width: 47em) {

  .filter-by-feeling, .filter-by-topic {
    overflow: auto;
  }

}

// button elements have no intrinsic style so that they may be used
// as interactable containers within visualizations. To get visual
// button styling, use `<button className="button">`
button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
