@import './skeleton/normalize.css';
@import './charts.scss';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #4A4A4A;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: .01em;
}

input, select {
  background-color: #282828;
  border-color: transparent;
}

h1, h2, h3, h4 {
  margin: 0 0 .75em;
  font-weight: bold;
}

h3 {
  font-size: 1.75em;
}

h5 {
  margin: 0 0 .75em;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: .01em;
}

p {
  margin-bottom: 1em;
}

.container {
  max-width: 850px;
  padding: 0;
}

.container {
  background: #F5F5F5;
}

.container > div {
  padding: 1em;
}

.btn {
  background: #4A90E2;
  color: white;
  border-radius: 38px;
  padding: .9em 1.2em;
  font-size: 1.05em;
  margin: 1em auto 0;
}

.btn:hover {
  background: #3f7cc3;
}

.emoji-container.selected.visible {
  background: #e6e6e6;
  border-radius: 5px;
  
  .emoji-image {
    padding: .2em;
  }
}

.footer {

  a {
    color: #4A90E2;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 25em) {
  .container {
    margin: auto;
    width: 92%;
  }

  .container > div {
    padding: 2em;
  }

  .container > div.letter, {
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 40em) {

  .container > div {
    padding: 2.5em;
  }
}

@media only screen and (min-width: 47em) {

  .filter-by-feeling, .filter-by-topic {
    overflow: auto;
  }

}

// button elements have no intrinsic style so that they may be used
// as interactable containers within visualizations. To get visual
// button styling, use `<button className="button">`
button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}
